.Titulo {
    text-align: center;
    font-weight: bold;
}


.BtnCrear {

    margin-top: 4%;
    margin-bottom: 2%;
    font-size: 0.9em;
    background: #002C77;

}

.panel-heading {

    background: #002C77;

}

.container {
    font-size: 0.9em;
}

.SelectMultiple > div{

    font-family: 'Century Gothic';

}

.textarea {
    resize: none;
}

.loadingText{
  text-align: center;
  margin-top: 200px;
}

#loader-wrapper {
    position: absolute;
    top: 5%;
    left: 30%;
    width: 250px;
    height: 300px;
    z-index: 1000;
    background: white;
    border: 1px #212121 solid;
    border-radius: 10px;
    z-index: 9999999999;
}
#loader {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -30% 0 0 -30%;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #3498db;
    -webkit-animation: spin 2s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
    animation: spin 2s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:before {
    content: "";
    position: absolute;
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #e74c3c;
    -webkit-animation: spin 3s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 3s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
#loader:after {
    content: "";
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    border-radius: 50%;
    border: 3px solid transparent;
    border-top-color: #f9c922;
    -webkit-animation: spin 1.5s linear infinite; /* Chrome, Opera 15+, Safari 5+ */
      animation: spin 1.5s linear infinite; /* Chrome, Firefox 16+, IE 10+, Opera */
}
 
@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}
@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(0deg);  /* IE 9 */
        transform: rotate(0deg);  /* Firefox 16+, IE 10+, Opera */
    }
    100% {
        -webkit-transform: rotate(360deg);  /* Chrome, Opera 15+, Safari 3.1+ */
        -ms-transform: rotate(360deg);  /* IE 9 */
        transform: rotate(360deg);  /* Firefox 16+, IE 10+, Opera */
    }
}


.SelectMultiple {
    text-align: left;
}

.container{

    width: 100%;

}

.ic-datepicker-header-bar {

    background-color: #337ab7 !important;

}

.cell.selected {
    background-color: #337ab7 !important;
}


.Tabla {

    /*padding: 20%;*/

}

.paginate_button{

    background: #337ab7 !important;
    color: #fff;
}


#ImgHome {
    position: absolute !important;
    left: 20% !important;
    top: 60px !important;
    width: 50% !important;
}